/* 22061036김현빈 */
*{
  margin: 0; padding: 0;
}
  a{text-decoration: none; color: inherit;}
  img{vertical-align: middle;}
  li{list-style: none;}
/* header */
.wrap{width: 100%; min-width: 1100px;}
body{font-family: "나눔스퀘어"; font-size: 14px; color: #4e4e4e;
line-height: 1.4;
background-image: url(./img/m1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed; }

header{width: 100%; height: 80px; line-height: 80px; padding: 0 60px; box-sizing: border-box;
background: white;}

header .logo{display: block;float: left;}
header a{color: #0c70d9;}
header nav{float: right;}
header nav .gnb li{display: inline-block; margin-left: 60px;}
header nav .gnb li a{display: block; font-size: 18px;
text-transform: uppercase; position: relative;}
header nav .gnb li a:after{content: ''; width: 0%; height: 2px;
position: absolute; background: #0c70d9; bottom: 20px; left: 50%; transform: translateX(-50%);
transition: all 0.5s;}
header nav .gnb li a:hover:after, header nav .gnb li a:focus:after{
  width: 100%;
}
.contents {height: 500px; margin: 100px auto; padding: 30px; position: relative;}
.contents .card{width:1280px; }
.contents .card img{padding: 10px 10px; width:300px; border-radius: 30px; }
.contents  p{float: right; position: absolute; top: 40px; right: 10px;
  width: 40%; height: 500px; font-weight: bold; color: white; line-height: 2}

.world p {color: white;  text-align: center; width: 100%; height: 150px; line-height: 3; font-size: 50px;
  text-transform: uppercase; position: relative; font-weight: bold;}


.world form{display: block; text-align: center; margin-top: 5px; font-family: "나눔스퀘어";
margin-bottom: 100px;color: white; font-weight: bold;}
